{
    "env": {
        // For tests
        "test": {
            "presets": [
                "env", // All you need to compile what's in ES2015 and above
                "react", // Strip flow types and transform JSX
                "stage-2" // Experimental syntax extensions
            ],
            "sourceMaps": true // Compile with Source Maps
        },
        // For development
        "development": {
            "presets": [
                [
                    "env", // All you need to compile what's in ES2015 and above
                    {
                        "modules": false // Setting this to false will not transform modules
                    }
                ],
                "react", // Strip flow types and transform JSX
                "stage-2" // Experimental syntax extensions
            ],
            "plugins": [
                "react-hot-loader/babel" // Enables React code to work with HMR
            ]
        },
        // For production
        "production": {
            "presets": [
                [
                    "env", // All you need to compile what's in ES2015 and above
                    {
                        "modules": false // Setting this to false will not transform modules
                    }
                ],
                "react", // Strip flow types and transform JSX
                "stage-2" // Experimental syntax extensions
            ]
        }
    }
}