# See https://github.com/github/gitignore for collection of useful .gitignore templates

# Dependency directory
node_modules

# Compiled src (production)
build

# Loggings
yarn-error.log
npm-debug.log

# Miscellaneous
.DS_Store