# See https://github.com/github/gitignore for collection of useful .gitignore templates

# Compiled src (server & client)
build

# Node.js packages
node_modules

# Code coverage
coverage

# Loggings
yarn-error.log
npm-debug.log

# Miscellaneous
.DS_Store